<h1 aria-label="Develop. Preview. Ship." className="hero_title__HaAVy">
  <span
    className="animated-gradient-text_background__OCnk0 animated-gradient-text_background-1__c2kfC"
    style="
      --content: 'Develop.';
      --padding: 0.05em;
      --start-color: #007cf0;
      --end-color: #00dfd8;
    "
    ><span
      className="animated-gradient-text_foreground__kb6tN animated-gradient-text_foreground-1__gqHrR"
      >Develop.</span
    ></span
  ><span
    className="animated-gradient-text_background__OCnk0 animated-gradient-text_background-2__OQEIi"
    style="
      --content: 'Preview.';
      --padding: 0.05em;
      --start-color: #7928ca;
      --end-color: #ff0080;
    "
    ><span
      className="animated-gradient-text_foreground__kb6tN animated-gradient-text_foreground-2__B4oIZ"
      >Preview.</span
    ></span
  ><span
    className="animated-gradient-text_background__OCnk0 animated-gradient-text_background-3__iyrbU"
    style="
      --content: 'Ship.';
      --padding: 0.05em;
      --start-color: #ff4d4d;
      --end-color: #f9cb28;
    "
    ><span
      className="animated-gradient-text_foreground__kb6tN animated-gradient-text_foreground-3__kum5b"
      >Ship.</span
    ></span
  >
</h1>
